.display {
    background-color: darkslategray;
    border: 2px solid white;
    height: 10vh;
    width: 50vh;
    border-radius: 5px;
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: bold;
    outline: 0;
}

.error_message {
    background-color: darkslategray;
    border: 2px solid red;
    height: 10vh;
    width: 50vh;
    border-radius: 5px;
    text-align: center;
    font-size: 60px;
    color: red;
    font-weight: bold;
    outline: 0;
}